/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    padding: 20px;
}

h2 {
    width: 98%;
    font-size: 20px;
    color: #f0f0f0;
    text-align: center;
    background: hsl(0 0% 0%);
    padding: 0.1em;
    margin: 25px auto 25px auto;
}

h3 {
    width: 100%;
    font-size: 15px;
    color: #000000;
    text-align: center;
    background: hsl(0, 0%, 77%);
    padding: 0.1em;
    margin: 20px auto 20px auto;
}

.form-group-2, .form-group{
    width: 80%;
    margin: 15px auto 0px auto;
}

.radio-inputs, 
.p-v, .purpose, 
.authorize, 
.employee-date, 
.table-container,
.request-info-section,
.salary-info,
.signature-frequency-content,
.table {
    width: 95%;
    margin: 15px auto 15px auto;
}

/* Title styles */
.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
    padding: 10px;
}

.title u {
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 2px solid #333;
}

/* Request info section */
.request-info-section {
    max-width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* From Uiverse.io by Admin12121 */ 
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 95%;
    font-size: 14px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), /* Sombra interna */
                0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra externa */
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }


/* estilos genrales para ambos formularios */
.form-group-2, .form-group{
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos */
    padding: 20px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), /* Sombra interna */
                0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra externa */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo claro */
    border-left: 4px solid #a10606; /* Borde izquierdo ROJO */
}

.p-v{
    display: flex; /* Usar flexbox para alinear los contenedores en línea */
    width: 95%;
    justify-content: space-between; /* Espaciado uniforme entre los contenedores */
}

.p-v div:not(.error-message) {
    width: 44%;
}


.personal-data, 
.value-discount, 
.employee-date, 
.salary-info, 
.signature-frequency-content,
.final-container{
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos */
    padding: 20px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), /* Sombra interna */
                0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra externa */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #ffffff; /* Fondo claro */
}


.form-group label,
.form-group-2 label {
    font-weight: bold; /* Texto en negrita */
}

.form-group input, 
.form-group-2 input,
.form-group-2 select{
    background-color: #f9f9f9;
    padding: 6px; /* Espaciado interno */
    max-width: 100%;
    border: 3px solid #ccc; /* Borde gris claro */
    border-radius: 7px; /* Bordes redondeados */
    transition: border-color 0.3s; /* Transición suave */
}

.form-group input:focus,
.form-group-2 input:focus {
    outline: none; /* Sin contorno */
    border-left: 3px solid #007BFF; /* Borde izquierdo azul */
    transition: border-color 0.3s;
    box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.3), /* Sombra interna más oscura */
                0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra externa más pronunciada */
}

/* Purpose section */
.purpose {
    display: flex;
    width: 95%;
    flex-direction: column;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: start;
}


.purpose textarea{
    width: 100%; /* Ancho completo */
    padding: 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #ffffff; /* Color de fondo claro */
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), /* Sombra interna */
                0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra externa */
    font-size: 16px; /* Tamaño de fuente */
    resize: none; /* Deshabilitar el redimensionamiento */
    transition: box-shadow 0.3s; /* Transición suave para el efecto de enfoque */
    border-left: 4px solid #919191; /* Borde izquierdo azul */
}

.purpose textarea:focus {
    outline: none; /* Sin contorno */
    border-left: 4px solid #007BFF; /* Borde izquierdo azul */
    transition: border-color 0.3s;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3), /* Sombra interna más oscura */
                0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra externa más pronunciada */
}

/* --------------------- ESTILOS PARA EL PARRAFO AUTORIZAR ------------------------ */

.authorize p {
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
    color: #333; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    background-color: #f9f9f9; /* Color de fondo suave */
    border: 4px solid #ffffff; /* Borde izquierdo azul */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.authorize input[type="text"] {
    border: none; /* Sin borde */
    border-bottom: 1px solid #ccc; /* Línea inferior gris */
    background: transparent; /* Fondo transparente */
    padding: 1px 0; /* Espaciado vertical */
    width: 100px; /* Ancho fijo para los inputs */
    font-size: inherit; /* Heredar tamaño de fuente del párrafo */
    transition: border-color 0.3s; /* Transición suave */
}

/* Efecto al enfocar el input */
.authorize input[type="text"]:focus {
    border-bottom: 1px solid #a10606; /* Línea inferior azul al enfocar */
    outline: none; /* Sin contorno */
}

/* Placeholder */
.authorize input[type="text"]::placeholder {
    color: #aaa; /* Color del texto del placeholder */
    opacity: 1; /* Asegurarse de que el placeholder sea visible */
}

/* ----------------- EMPLEADO - FECHA e SALARIO INFO ------------------- */

.employee-date input, .form-group-2 input{
    width: 50%;
}

.label-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* ---------------- FIRMAS ----------------- */
.signature-date, .payment-signature, .payment-method{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-status select{
    width: 50%;
}

.payment-frequency select {
    margin: auto;
}

.responsible-signature-report, .date, .signature, .payment-status, .payment-frequency{
    flex: 1; /* Permite que ambos divs ocupen el mismo espacio */
    display: flex; /* Habilita el modelo de caja flexible para los inputs */
    flex-direction: column; /* Alinea el label y el input en columna */
    text-align: center;
    margin-bottom: 20px;
}

.responsible-signature-report input, 
.date input, 
.signature input, 
.payment-status select {
    margin: 2px auto 2px auto;
}

.responsible-signature-report input, .signature input{
    width: 100%;
}

.table-container{
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    border-collapse: collapse;
}

.table {
    width: 95%;
    /* margin: 0px auto 0px auto; */
}

.table-header {
    background-color: #e0e0e0;
    color: #333;
    padding: 12px;
    
}

.table-header-title {
    text-align: left;
}

.table-header-title-sup {
    padding: 10px;
    border-radius: 10px;
    color: #ccc;
    background-color: #000000;
}

.table-header input {
    width: 90%;
    padding: 8px;
    border: 3px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}
.table tr:hover {
    background-color: #e8f0fe; /* Color de fondo al pasar el mouse */
}

.separator {
    width: 100%; /* O el ancho que desees */
    height: 4px; /* Grosor de la línea */
    background: linear-gradient(to right, #b44f44, #061783); /* Gradiente de rojo */
    margin: 20px 0; /* Espaciado superior e inferior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}

/* ---------------- BOTON SUBMIT ------------------ */
.btn{
    display: flex;
    flex-direction: column;
    margin: 4%;
    align-items: end;
}

button {
    font-size: 20px;
    background: linear-gradient(to right, #e0887f, #c70b0b); /* Gradiente de rojo */
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
    -webkit-box-shadow: inset 8px 8px 13px -8px rgba(255,255,255,1);
-moz-box-shadow: inset 8px 8px 13px -8px rgba(255,255,255,1);
box-shadow: inset 8px 8px 13px -8px rgba(255,255,255,1);
}
  
button:hover {
    background: linear-gradient(to right, #121212, #102ce2);
    -webkit-box-shadow: inset -10px -11px 13px -7px rgba(0,0,0,1);
-moz-box-shadow: inset -10px -11px 13px -7px rgba(0,0,0,1);
box-shadow: inset -10px -11px 13px -7px rgba(0,0,0,1);
    color: #fff;
}

/* ESTILOS DE LOS MENSAJES DE ERROR */
.error-message {
    color: #952522c7;
    font-size: 0.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

/* Opción para mejorar los campos con error (personalizado) */
input.error, textarea.error {
    border-color: #d9534f; /* Resalta los campos con error */
    background-color: #f8d7da; /* Fondo tenue rojo */
}

/* ESTILOS MENSAJES DE EXITOS */
.alert-success {
    background-color: #d4edda;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 80%;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    margin: 0 auto 25px auto;
    border-radius: 5px;
    font-size: 1rem;
}

/* Icono verde para el mensaje de éxito */
.alert-success i {
    margin-right: 10px;
    font-size: 1.3rem;
}


/* Estilo para el mensaje de error */
.alert-error {
    background-color: #f8d7da; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 80%;
    color: #721c24; 
    border: 1px solid #f5c6cb; 
    padding: 15px; 
    margin: 0 auto 25px auto; 
    border-radius: 5px; 
    font-size: 1rem; 
  }

/* Responsive design */
@media (max-width: 768px) {
    .personal-data, .value-discount {
        grid-template-columns: auto 1fr;
    }
    
    .checkbox-container {
        flex-direction: column;
    }
    
    .request-info-section {
        padding: 15px;
    }
}