/* ----------------------------- ESTILOS GENERALES ------------------------------ */
*   { margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; }
body{ background-color: #f5f5f5; padding: 20px; min-width: 825px;}

.request-info-section { 
    max-width: 900px; 
    background-color: white; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.form-group-2,
.form-group{ width: 80%; margin: 15px auto 0px auto; }

.form-group-2, .form-group{
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos */
    padding: 20px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), /* Sombra interna */
                0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra externa */
    border: 1px solid #ccc; /* Borde gris claro */
    background-color: #f9f9f9; /* Fondo claro */
    border-left: 4px solid #a10606; /* Borde izquierdo ROJO */
}

/* BORDER RADIUS */
.form-group input, .form-group-2 input,
.form-group-2 select,
[class*="br"]       { border-radius: 8px; }
/* display flex */
div[class*="form"], 
div[class*="flx"]   { display: flex; }

/* width del 100% */
div[class*="section"],
[class*="max"]      { width: 100%; }

div[class*="section"], p {margin: 15px auto 15px auto; }
/* ------------------------------ TITULOS  ------------------------------ */
.title { font-weight: bold; }

h2, .title,
h3  { font-size: 20px; text-align: center; padding: 0.1em; margin: 10px auto 0px auto; }
h2  { color: #f0f0f0; background: hsl(0 0% 0%); }
h3  { color: #000000; background: hsl(0, 0%, 77%); }

/* ------------------------------ TAMAÑO SE LAS SECCIONES GENERALES ------------------------------ */

/* --------------- RADIO BUTTONS ---------------------- */
.radio-inputs-section {
    position: relative;
    flex-wrap: wrap;
    background-color: #EEE;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 95%;
    font-size: 14px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2),
                0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .radio-inputs-section .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs-section .radio input {
    display: none;
  }
  
  .radio-inputs-section .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs-section .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }


.p-v-section{ width: 95%; justify-content: space-between; }
.p-v-section 
div:not(.error-message, .campo-1, .campo-2) { width: 44%; }

/* asignarle margin-top automatico al segundo campo tanto de p-v como de value-discount */
.campo-2    { flex-direction: column; gap: 10px; margin-top: auto; }

/* --------------------------------- CAJAS --------------------------------- */
[class*="box"]  { 
    flex-direction: column; gap: 10px; padding: 20px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2),
                0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; 
    background-color: #ffffff; 
}


.form-group label,
.form-group-2 label { font-weight: bold; }

.form-group input, 
.form-group-2 input,
.form-group-2 select{ background-color: #f9f9f9; padding: 6px; max-width: 100%; 
    border: 3px solid #ccc; 
    transition: border-color 0.3s; }

.form-group input:focus,
.form-group-2 input:focus { outline: none; border-left: 3px solid #007BFF; transition: border-color 0.3s;
    box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.3), 
                0 4px 10px rgba(0, 0, 0, 0.2);  }

/* Purpose-section section */
.purpose-section { 
    width: 95%;
    flex-direction: column;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: start;
}
.purpose-section textarea{
    padding: 15px;
    border: none;
    background-color: #ffffff;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2),
                0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    resize: none;
    transition: box-shadow 0.3s;
    border-left: 4px solid #919191;
}
.purpose-section textarea:focus {
    outline: none;
    border-left: 4px solid #007BFF;
    transition: border-color 0.3s;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3),
                0 4px 10px rgba(0, 0, 0, 0.2);
}

/* --------------------- ESTILOS PARA EL PARRAFO AUTORIZAR ------------------------ */

.authorize-section p {
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    padding: 10px;
    background-color: #f9f9f9;
    border: 4px solid #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.authorize-section input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    padding: 1px 0;
    width: 100px;
    font-size: inherit;
    transition: border-color 0.3s;
}

/* Efecto al enfocar el input */
.authorize-section input[type="text"]:focus {
    border-bottom: 1px solid #a10606; /* Línea inferior azul al enfocar */
    outline: none; /* Sin contorno */
}

/* Placeholder */
.authorize-section input[type="text"]::placeholder {
    color: #aaa; /* Color del texto del placeholder */
    opacity: 1; /* Asegurarse de que el placeholder sea visible */
}

/* ----------------- EMPLEADO - FECHA e SALARIO INFO ------------------- */

.employee-date-section input, 
.form-group-2 input, 
.payment-status-report select{ width: 50%; }

.label-input-group {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* ---------------- FIRMAS ----------------- */
.signature-date, 
.payment-method,
.payment-signature          { justify-content: space-between; align-items: center; }
.payment-frequency-report select   { margin: auto; }

div[class*="report"]{
    flex: 1; /* Permite que ambos divs ocupen el mismo espacio */
    flex-direction: column; /* Alinea el label y el input en columna */
    text-align: center;
    margin-bottom: 20px;
}

.responsible-signature-report input, 
.date-report input, 
.signature-report input, 
.payment-status-report select {
    margin: 2px auto 2px auto;
}


.table-container-section{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-collapse: collapse;
}

.table-header {
    background-color: #e0e0e0;
    color: #333;
    padding: 12px;
    
}

.table-header-title {
    text-align: left;
}

.table-header-title-sup {
    padding: 10px;
    border-radius: 10px;
    color: #ccc;
    background-color: #000000;
}

.table-header input {
    width: 90%;
    padding: 8px;
    border: 3px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3;
}

.table-section tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}
.table-section tr:hover {
    background-color: #e8f0fe; /* Color de fondo al pasar el mouse */
}

.separator-max {
    height: 4px; /* Grosor de la línea */
    background: linear-gradient(to right, #b44f44, #061783); /* Gradiente de rojo */
    margin: 20px 0; /* Espaciado superior e inferior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}

/* ---------------- BOTON SUBMIT ------------------ */
.btn{
    display: flex;
    flex-direction: column;
    margin: 4%;
    align-items: end;
}

button {
    font-size: 20px;
    background: linear-gradient(to right, #e0887f, #c70b0b); /* Gradiente de rojo */
    color: #000000;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 45px;
    transition: 0.3s;
    -webkit-box-shadow: inset 8px 8px 13px -8px rgba(255,255,255,1);
-moz-box-shadow: inset 8px 8px 13px -8px rgba(255,255,255,1);
box-shadow: inset 8px 8px 13px -8px rgba(255,255,255,1);
}
  
button:hover {
    background: linear-gradient(to right, #121212, #102ce2);
    -webkit-box-shadow: inset -10px -11px 13px -7px rgba(0,0,0,1);
-moz-box-shadow: inset -10px -11px 13px -7px rgba(0,0,0,1);
box-shadow: inset -10px -11px 13px -7px rgba(0,0,0,1);
    color: #fff;
}

/* ESTILOS DE LOS MENSAJES DE ERROR */
.error-message {
    color: #952522c7;
    font-size: 0.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

/* Opción para mejorar los campos con error (personalizado) */
input.error, textarea.error {
    border-color: #d9534f; /* Resalta los campos con error */
    background-color: #f8d7da; /* Fondo tenue rojo */
}

/* ESTILOS MENSAJES DE EXITOS */
.alert-success, .alert-error{
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 15px;
    margin: 0 auto 25px auto;
    border-radius: 5px; 
    font-size: 1rem; 
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Estilo para el mensaje de error */
.alert-error {
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
}

/* Responsive design */
@media (max-width: 768px) {
    .personal-data, .value-discount {
        grid-template-columns: auto 1fr;
    }
    
    .checkbox-container {
        flex-direction: column;
    }
    
    .request-info-section {
        padding: 15px;
    }
}